
@{
    ViewBag.Title = "Negado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container conteudo">
    <div class="form-login">
        <div class="panel panel-default" style="border-radius: 10px; height:350px;">

            <div class="panel-heading quadrado-login">
                <div class="panel-title text-center" style="padding:10px;">
                    <span style="font-size: 20pt; ">Erro</span>
                </div>
            </div>


            <div style="padding-top:40px" class="panel-body">

                <h2>
                    Esse usuário não tem permissão para acessar essa página.
                </h2>

                <div style="margin-top:10px" class="form-group">

                    <div class="col-sm-12 controls text-center" style="margin-top:30px;">
                        <a href="~/Home/Index" class="btn btn-primary">Voltar </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

