html {
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
}

.form-control, .input-group-addon , .control-label {
    margin-top: 10px !important;
}

.superior-site {
    height: 35px;
    font-size: 1.0rem;
}

/*Small devices (tablets, 576px and up)*/
@media (min-width: 576px) {
    html {
        font-size: 0.5rem;
    }
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    html {
        font-size: 0.7rem;
    }
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    html {
        font-size: 0.8rem;
    }
}

body {
    padding-bottom: 20px;
}


.active {
    background-color:rgba(209, 255, 215, 0.5)  !important;
}

.menu-esquerda {
    margin-top: 40px;
}

.texto-menu-esq {
    text-decoration: none !important;
    font-family: 'Lora', sans-serif;
    margin-top:-12px;
    
    font-size: 10pt;
    color: #000;
}



/* Set padding to keep content from hitting the edges */
/*.folha {
    /*background-color: #BEE9FB;
    padding-top:10px;
    background-color: rgba(225, 225, 255, 1);
    border:2px solid rgba(209, 255, 215, 0.5);
}*/


.conteudo-site {
    font-family:'Ubuntu', serif;
    font-size: 11pt;
    min-height: 80%;
    margin-top: 10px;
    /*background-color: #97BDCA !important;*/
    /*border-top: 3px solid primary;
    border-left: 3px solid rgba(1, 25, 54, 1);*/
    /*background: linear-gradient(to top left, rgba(3, 25, 38, 0.2), rgba(70, 129, 137, 0.2));*/
    /*background: linear-gradient(to left top, rgba(119, 172, 162, 1), rgba(235, 235, 235, 1));*/
    /*padding: 5px;
    border-radius: 10px;
    border: 2px solid #a57054 !important;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

textarea{
    max-width:500px;
}

body {
    /*background-color: rgba(103, 181, 233, 0.6) !important;*/
    /*background-color: #e4e1e1 !important;*/ 
    background-color: #edecec !important;
    /*background-color: #EAF1F4 !important;*/
}





/* 
   ***  PLUGIN PARA INPUT DO TIPO CHECKBOX  ****

*/

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* FIM PLUGIN CHECKBOX*/