@model GerenciadorFinanceiro.Models.lancamentoestoque


@{
    ViewBag.Title = "Deletar";
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Deleção de Produto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        @using (Html.BeginForm("Delete", "LancamentoEstoque", FormMethod.Post))
        {
            <div class="modal-body">

                @Html.AntiForgeryToken()
                <div class="dl-horizontal row col-12 ml-4 mb-5 mt-5">
                    <div class="col-12 row">
                        <h3>Confirma exclusão?</h3>
                    </div>

                    <div class="mt-3 col-12 row">
                        @Html.DisplayNameFor(model => model.produto.nome)  <b>@Html.DisplayFor(model => model.produto.nome)</b>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" value="Save" class="btn btn-outline-danger">Salvar</button>
                </div>
            </div>
        }
    </div>
</div>
