
@{
    ViewBag.Title = "AbrirCaixa";
    Layout = "~/Views/Shared/_LayoutCaixa.cshtml";
}

<div class="col-12 text-center border-danger">
    <span>Abrir Caixa</span>
</div>

<div class="col-12 text-center border-danger">
    <span>Fechar Caixa</span>
</div>
